extends layout

block content

  .page-header
    h1 Keynotes

  each group in talks.keynotes
    div.row
      each keynote, index in group
        div.col-md-4.speaker
          .media
            .media-img
              img(src= keynote.speaker.image)
            .media-body
              h3 #{keynote.speaker.name}
              each talk in keynote.talks
                if talk.abstractHtml
                  p
                    a(href="#",data-toggle="modal",data-target="##{talk.uniqueId}") !{talk.title}
                  div(class="modal fade",id= talk.uniqueId,tabindex="-1",role="dialog")
                    div(class="modal-dialog")
                      div(class="modal-content")
                        div(class="modal-header")
                          button(type="button",class="close",data-dismiss="modal") &times;
                          h4(class="modal-title") #{talk.title}&nbsp;
                            small by #{keynote.speaker.name}

                        div(class="modal-body")
                          !{talk.abstractHtml}
                        div(class="modal-footer")
                          button(type="button",class="btn btn-default",data-dismiss="modal") Close
                else
                  p !{talk.title}
                if (keynote.speaker.twitter || keynote.speaker.github)
                  div.social
                    if keynote.speaker.twitter
                      a(href="http://twitter.com/#{keynote.speaker.twitter}",title="@#{keynote.speaker.twitter}")
                        i(class="fa fa-twitter")
                    if keynote.speaker.github
                      a(href="http://github.com/#{keynote.speaker.github}",title= keynote.speaker.github)
                        i(class="fa fa-github")

  .page-header
    h1 Workshops

  each group in talks.workshop
    div.row
      each keynote, index in group
        div.col-md-4.speaker
          .media
            .media-img
              img(src= keynote.speaker.image)
            .media-body
              h3 #{keynote.speaker.name}
              each talk in keynote.talks
                if talk.abstractHtml
                  p
                    a(href="#",data-toggle="modal",data-target="##{talk.uniqueId}") !{talk.title}
                  div(class="modal fade",id= talk.uniqueId,tabindex="-1",role="dialog")
                    div(class="modal-dialog")
                      div(class="modal-content")
                        div(class="modal-header")
                          button(type="button",class="close",data-dismiss="modal") &times;
                          h4(class="modal-title") #{talk.title}&nbsp;
                            small by #{keynote.speaker.name}

                        div(class="modal-body")
                          !{talk.abstractHtml}
                        div(class="modal-footer")
                          button(type="button",class="btn btn-default",data-dismiss="modal") Close
                else
                  p !{talk.title}
                if (keynote.speaker.twitter || keynote.speaker.github)
                  div.social
                    if keynote.speaker.twitter
                      a(href="http://twitter.com/#{keynote.speaker.twitter}",title="@#{keynote.speaker.twitter}")
                        i(class="fa fa-twitter")
                    if keynote.speaker.github
                      a(href="http://github.com/#{keynote.speaker.github}",title= keynote.speaker.github)
                        i(class="fa fa-github")

  .page-header
    h1 Speakers

  each group, gIndex in talks.other
    div.row
      each otherTalk, tIndex in group
        div.col-md-4.speaker
          .media
            .media-img
              img(src= otherTalk.speaker.image)
            .media-body
              h3 #{otherTalk.speaker.name}
              each talk in otherTalk.talks
                if talk.abstractHtml
                  p
                    a(href="#",data-toggle="modal",data-target="##{talk.uniqueId}") !{talk.title}
                  div(class="modal fade",id= talk.uniqueId,tabindex="-1",role="dialog")
                    div(class="modal-dialog")
                      div(class="modal-content")
                        div(class="modal-header")
                          button(type="button",class="close",data-dismiss="modal") &times;
                          h4(class="modal-title") #{talk.title}&nbsp;
                            small by #{otherTalk.speaker.name}

                        div(class="modal-body")
                          !{talk.abstractHtml}
                        div(class="modal-footer")
                          button(type="button",class="btn btn-default",data-dismiss="modal") Close
                else
                  p !{talk.title}
                if (otherTalk.speaker.twitter || otherTalk.speaker.github)
                  div.social
                    if otherTalk.speaker.twitter
                      a(href="http://twitter.com/#{otherTalk.speaker.twitter}",title="@#{otherTalk.speaker.twitter}")
                        i(class="fa fa-twitter")
                    if otherTalk.speaker.github
                      a(href="http://github.com/#{otherTalk.speaker.github}",title= otherTalk.speaker.github)
                        i(class="fa fa-github")

  p &nbsp;
  p &nbsp;

  script(type='text/javascript').
    window.onload = function() {
      (function(window, $, undefined) {
        // call the modal, provided the element exists
        function openModalOnLoad(id) {
          var el = $(id);
          if (el.length && el.modal) {
            el.modal();
          }
        }

        // helper function to make sure the url conforms to /#/<sessionid>
        function parseHash(hash) {
          var hashParts = hash.split('/');
          if (hashParts.length !== 2 && hashParts[0] !== '#') {
            return;
          }
          return hashParts.join('');
        }

        $(function() {
          // this could be safe checked as well
          var hash = window.location.hash;
          if (hash){
            // will be undefined if the hash isn't in the right format
            var id = parseHash(hash);
            if (id) {
              openModalOnLoad(id);
            }
          }
        });
      }(window, window.jQuery));
    };
